{{> head}}

<div class="container">
  <div class="row">
    <div class="col-md-8 text-justify col-md-offset-2">
      <h2>Almost there!</h2>

      <p>We've sent you an email with a confirmation link. Please click that to confirm your interest.</p>

      <p>Once you've confirmed your address and we're ready to show off what we've been working on, we'll send you one
        (and only one) email. Thanks for your interest!</p>
    </div>
  </div>
</div>

{{> foot}}