{{> head}}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1>
          <div class="small">Coming Soon!</div>
          SirFrancis
        </h1>
        <p>Smarter, non-stereotyping, service-independent movie recommendations.</p>
		<p>a.k.a. <i>Movie Recommendations 7: The Suggestioning</i></p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 text-justify col-md-offset-2">
      <p>A movie provider can only suggest movies based on what you have
        watched or bought using that same service. Chances are, you're using multiple services and
        that no single one can recommend movies based on your complete viewing habits.</p>

      <p>Further, the recommendations of most providers are only based on <b>what makes you like other
        people</b> who use that same service, not what your individual tastes say about what
        <b>you</b> enjoy watching. We hope to change that.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="mc_embed_signup">
        <form action="//sirfrancis.us10.list-manage.com/subscribe/post?u=f5cd40fccfb958ca49e4fb28f&amp;id=cdf1e184e4"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal"
              target="_self" novalidate>
          <div id="mc_embed_signup_scroll" class="form-group">
            <label for="mce-EMAIL">Enter your email address to be notified when we have more to show:</label>
            <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="frank.prosciutto@example.com" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text"
                                                                   name="b_f5cd40fccfb958ca49e4fb28f_cdf1e184e4"
                                                                   tabindex="-1" value=""></div>
          </div>
          <div class="form-group"><input type="submit" value="Notify Me" name="subscribe" id="mc-embedded-subscribe"
                                    class="btn btn-success"></div>
        </form>
      </div>
      <!--End mc_embed_signup-->

      <h6 class="small">We're still finalizing our privacy policy, but rest assured that email addresses
        collected here will only be used <i>once</i> to notify interested users when our service is available.</h6>
    </div>
  </div>
</div>

{{> foot}}