{{> head}}

<div class="container">
  <div class="row">
    <div class="col-md-8 text-justify col-md-offset-2">
      <h2>Email confirmed.</h2>
	  <p>Sorry for all of the hassle! We hate spam as much as you do though, and we really want to make
	  sure that we only email people who actually want to hear from us. <div class="small">Scratch that, we probably
	  hate spam more than you do.</div></p>

	  <p>We'll send you one (and only one) email when we're ready to show off what we've been working on. Thanks
	  for your interest!</p>
    </div>
  </div>

{{> foot}}